@import "../../utilities/variables";

$padding: 2%;

.card {
    width: 90%;
    margin-right: 0;
    padding: 2%;
}

img{
    padding-top: $padding;
    padding-left: $padding;
    padding-right: $padding;
    width: 96%;
}
