@import "../../utilities/variables";

$margin: 5%;

.card {
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    background-color: $card-gray;
    padding: $margin;
}

.header {
    background-color: $card-blue;
    padding: 1%;
    margin: 0;
    margin-top: 2%;
    margin-bottom: $margin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-button {
    align-items: right;
}

.content {
    margin: 0;
    margin-bottom: $margin;
}

.name,
.status {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.status {
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    margin-top: 2%;
    width: 40%;
    background-color: $menu-blue;
}

.switch-container {
    text-align: center;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    line-height: 1%;
    font-size: medium;
}

.key {
    font-weight: bold;
}

.val{
    margin-left: 2%;
}

.info,
.ok,
.ko {
    display: flex;
    align-items: center;
}

img {
    width: 140px;
    height: 140px;
    object-fit:cover;
    margin-right: 1%;
}

.ok,
.ko {
    margin-bottom: 2%;
    padding: 1%;
}

.ok {
    background-color: $correct-value;
}

.ko {
    background-color: $wrong-value;
}

.value-key,
.value-val {
    width: 50%;
}

.value-key {
    margin-left: 1%;
}

@media only screen and (min-width: $tablet) {

    .card {
        width: 90%;
        margin: 0;
        padding: 2%;
    }

    .content {
        margin-left: 3%;
        width: 44%;
        float: left;
        margin-top: $margin;
        border: 2px solid $on-off-blue;
    }

    .values {
        margin-right: 3%;
        margin-top: 0;
        width: 45%;
        float: right;
    }

    .buttons {
        clear: both;
    }
}

//on off button
.mat-button-toggle {
    background-color: $background-gray;
    color: black;
}

.mat-button-toggle-checked {
    background-color: $on-off-blue;
    color: white;
}

mat-button-toggle-group {
    width: 50%;
}

mat-button-toggle {
    width: 50%;
}

@media only screen and (max-width: $tablet) {

    .info-container{
        width: 50%;
    }

    li {
        font-size: small;
    }

    .info {
        padding: 1%;
    }

    mat-button-toggle-group {
        width: 100%;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }
}