<mat-card class="card">
    <div class="switch-container">
      <mat-button-toggle-group>
        <mat-button-toggle value="true" [checked]="buttonService.getIsOnChecked()" (change)="buttonService.clickOn()">On</mat-button-toggle>
        <mat-button-toggle value="false" [checked]="!buttonService.getIsOnChecked()" (change)="buttonService.clickOff(name)">Off</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-card-header class="header">
        <!-- nome + stato -->
      <mat-card-title class="name">{{name}}</mat-card-title>
      <mat-card-subtitle class="status">{{status}}</mat-card-subtitle>
    </mat-card-header>
    <!-- info + foto (in colonna)-->
    <!-- card con i dati -->
    <mat-card-content>
      <div class="content">
        <ul>
        <li *ngFor="let elem of infoMix" class="info">
            <p class="key">{{elem.key}}:</p><p class="val">{{elem.value}}</p>
        </li>
        </ul>
        <img src={{photo}} alt="Machine images">
      </div>
      <div class="values">
        <ul>
          <li *ngFor="let elem of valuesMix"  
          [ngClass]="{
            'ok' : elem.error == true,
            'ko' : elem.error == false
          }">
              <p class="value-key">{{elem.key}}</p><p class="value-val">{{elem.value}}</p>
          </li>
          </ul>
      </div>
    </mat-card-content>
        <!-- bottoni "charts e log" -->
    <div class="buttons">
      <button mat-button class="button" (click)="navService.goToPageWithParameters('/charts', machineID.toString())">Charts</button>
      <button mat-button class="button" (click)="navService.goToPageWithTwoParameters('/log', machineID.toString(), name)">Log</button>
    </div>    
</mat-card>
