@import "../../utilities/variables";

.card{
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    background-color: $card-gray;
    padding: 5%;
}

mat-card-header{
    margin-bottom: 2%;
}

table {
    width: 100%;
}

.day-col{
    width: 20%;
    background-color: $card-blue;
}

.sched{
    padding-left: 2%;
}

.mat-cell, .mat-header-cell{
    border-bottom: 1px solid black;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin-right: 0;
        padding: 3%;
    }
}