@import "../../utilities/variables";

mat-card-header{
    margin-bottom: 2%;
}

table {
    width: 100%;
}

.day-col{
    background-color: $card-blue;
}

.sched{
    padding-left: 2%;
}

.mat-cell, .mat-header-cell{
    border-bottom: 1px solid black;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin-right: 0;
        padding: 3%;
    }

    .day-col{
        width: 20%;
    }
}