@import "../../utilities/variables";

.map, .right{
    margin-top: $card-distance;
    margin-bottom: $card-distance;
}

@media only screen and (min-width: $tablet) {
    .map{
        margin-left: 5%;
        width: 65%;
        float: left;
    }
    .right{
        margin-right: 5%;
        width: 25%;
        float: right;
    }
}