@import "../../utilities/variables";

$margin: 5%;

.card{
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    background-color: $card-gray;
    padding: $margin;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button{
    margin: 0;
    background-color: $card-blue;
    margin-bottom: 1%;
    padding: 1%;
    word-break: break-all;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin-right: 0;
        padding: 2%;
    }
}