@import "../../utilities/variables";

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button{
    margin: 0;
    background-color: $card-blue;
    margin-bottom: 1%;
    padding: 1%;
    word-break: break-all;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin-right: 0;
        padding: 2%;
    }
}