<mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="title">Machine working mode</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-radio-group class="radio-group">
        <mat-radio-button class="radio-button" *ngFor="let mode of modes" 
        [aria-label]="mode.val.toString()"
        [value]="mode.val" (change)="onChangeValue($event.value)"
        [disabled]="isDisabled" [checked]="mode.val === currMode">
            {{mode.view}}
        </mat-radio-button>
        </mat-radio-group>
    </mat-card-content>   
</mat-card>
