@import "../../utilities/variables";

.name{
    color: white; 
    display: block;
    text-align: center;
    font-size: small;
}

mat-divider{
    margin-bottom: 2%;
}

.button { 
    background-color: $menu-blue;
    display:  flex;
    padding: auto ;
    margin : auto; 
    align-content: center ; 
    align-items:  center ; 
    align-self: center ; 
} 