<mat-toolbar>
    <!--menu-->
  <button mat-icon-button aria-label="Menu button" (click)="onToggleSidenav()" [disabled]="!authService.isTokenStored()">
    <mat-icon id="menu" [ngClass]="{
      'menu-icon' : !authService.isTokenStored(),
      'no-menu-icon' : !authService.isTokenStored()
    }">menu</mat-icon>
  </button>

  <!--Name-->
  <span>MACHINEVISOR</span>
  
  <!--logo/penguin-->
  <button mat-icon-button class="logo-button" aria-label="Button with logo" (click)="goToHome()" [disabled]="!authService.isTokenStored()">
    <mat-icon svgIcon="logo" id="logo"></mat-icon>
  </button>
</mat-toolbar>
