@import "../../utilities/variables";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";

mat-toolbar {
  background-color: $toolbar-blue;
  color: white;
  display: flex;
  justify-content:space-between;
}

span{
  font-size: 190%;
  font-weight: bold; 
  font-family: 'Bebas Neue';
}

.logo-button{
  float: right;
  margin: 0px;
  padding: 0px;
}

#logo{
  height: 110%;
  width: 100%;
}