@import "../../utilities/variables";
$margin: 5%;

.card{
    width: $card-width;
    margin: auto;
    background-color: $card-gray;
    padding: $margin;
}

.content{
    margin: 0;
    margin-left: $margin;
    margin-right: $margin;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin: 0;
        padding: 2%;
    }
}