@import "../../utilities/variables";

.content{
    margin: 0;
    margin-left: $margin;
    margin-right: $margin;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin: 0;
        padding: 2%;
    }
}