@import "../../utilities/variables";

.card{
    width: 85%;
    margin: auto;
    margin-bottom: $card-distance;
    margin-top: $card-distance;
    background-color: $card-gray;
}

canvas{
  max-height: 80vh;
}

mat-card-header{
    margin-bottom: 1%;
}

@media only screen and (max-width: $tablet) {
    .card{
        width: 85%;
    }
}