<mat-card class="card">
    <mat-card-header>
       {{title}}
    </mat-card-header>
    <!-- <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button> -->
    <mat-card-content class="content">
              <canvas baseChart 
                          [data]="data"
                          [options]="options"
                          [type]="chartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>        
    </mat-card-content>
</mat-card>


