@import "../../utilities/variables";

.left, .right{
    margin-top: $card-distance;
    margin-bottom: $card-distance;
}

.background{
    padding-top: 5%;
    padding-bottom: 5%;
}

.info{
    width: $card-width;
    margin-top: $card-distance;
    margin-bottom: $card-distance;
}

@media only screen and (min-width: $tablet) {
    .left{
        margin-left: 5%;
        width: 70%;
        float: left;
    }
    .right{
        margin-right: 5%;
        width: 20%;
        float: right;
    }
}