@import "../../utilities/variables";

body{
    background-color: $background-gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    width: 40%;
    margin-top: $card-distance;
    margin-bottom: $card-distance;
}

@media only screen and (max-width: 600px) {
    .info{
        width: 90%;
    }
}