@import "../../utilities/variables";

.values{
    padding-left: 3%;
    display: flex;
    align-items: center;
}

.key{
    margin-right: 2%;
}

.data{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    background-color: $on-off-blue;
    color: white;
    margin-bottom: 1%;
    padding: 3%;
}

@media only screen and (min-width: $tablet) {
    .card{
        width: 90%;
        margin-right: 0;
        padding: 3%;
    }
}