@import "../../utilities/variables";

$margin: 5%;

.card{
    width: $card-width;
    margin: auto;
    padding: $margin;
}

.data{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
    padding: 0;
    background-color: $on-off-blue;
    color: white;
    margin-bottom: 1%;
    padding: 3%;
}