@import "../../utilities/variables";

$margin: 5%;

.card{
  width: $card-width;
  margin: auto;
  margin-bottom: $card-distance;
  background-color: $card-gray;
  padding: $margin;
}

.header{
  background-color: $on-off-blue;
  color: white;
  padding: 3%;
  margin: 0;
  margin-top: 2%;
  margin-bottom: $margin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.form-field, button{
  width: 100%;
  margin-top: $margin;
}

.link{
  margin-top: 2%;
  width: 100%;
  text-align: center;
}

button{
  margin-top: $margin;
  background-color: $menu-blue;
}

a{
  font-size: small;
  color: black;
}

a:hover{
  color: $on-off-blue;
}

@media only screen and (min-width: $tablet) {
  .card{
      width: 30%;
      padding: 2%;
  }
}

.errorAPI{
  margin-top: $margin;
}