<mat-drawer-container class="container">
  <mat-drawer #sidenav class="sidenav" mode="over" [opened]="sidenavLayout">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <div class="body">
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <p>p</p>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>