// Utilities
@import "../../utilities/variables";

.sidenav {
    padding: 2%;
    width: 30%;
    background-color: $menu-blue;
}

.machinery-menu{
    background-color: $menu-blue;
}

.sidenav-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $toolbar-blue;
    color: white;
}

.links-list{
    margin-top: 15%;
}

span{
    width: 100%;
    font-size: 190%;
    font-weight: bold; 
    font-family: 'Bebas Neue';
    text-align: center;
}

mat-icon{
    padding-right: 5%;
}

mat-divider{
    margin-top: 5%;
}

mat-expansion-panel-header{
    padding-left: 7%;
}

mat-drawer-content{
    min-height: 100vh;
}

.container{
    background-color: $background-gray;
}

@media only screen and (max-width: $mobile) {
    .sidenav {
        width: 60%;
    }
}

@media only screen and (max-width: $tablet) {
    .links-list{
        margin-top: 30%;
    }
}

  .my-expansion-panel-header,
  .my-expansion-panel-header.mat-expanded,
  .my-expansion-panel-header.mat-expanded:hover,
  .my-expansion-panel-header:hover,
  .my-expansion-panel-header.mat-expanded:focus,
  .my-expansion-panel-header.mat-expanded:focus:not([aria-disabled=true]),
  .mat-expansion-panel .my-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
  .mat-expansion-panel .my-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .my-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .my-expansion-panel-header:hover:not([aria-disabled=true]),
  .my-expansion-panel-header.mat-expanded:hover:not([aria-disabled=true]) {
    background-color: $menu-blue;
  }