<mat-drawer-container class="container">
  <mat-drawer #sidenav class="sidenav" mode="over" [opened]="openMenu" (closed)="close()">
    <mat-toolbar class="sidenav-header">
      <span>MENU</span>
    </mat-toolbar>
    <mat-nav-list class="links-list">
      <mat-list-item (click)="goToHome()">
        <mat-icon class="material-icons-outlined">home</mat-icon>
        <a>Home</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="material-icons-outlined">analytics</mat-icon>
        <a>Statistics</a>
      </mat-list-item>
      <mat-list-item (click)="goToUser()">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <a>User</a>
      </mat-list-item>
      <!-- expansion panel -->
      <mat-expansion-panel class="machinery-menu">
        <mat-expansion-panel-header class="my-expansion-panel-header">
          <mat-panel-title>
            <mat-icon class="material-icons-outlined">precision_manufacturing</mat-icon>
            Machineries
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <mat-list-item *ngFor="let machine of machineries">
          <a>{{machine}}</a>
        </mat-list-item>
    
      </mat-expansion-panel>
      <!---->
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        <a>Logout</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <app-navbar (sidenavToggle)="clickMenu()"></app-navbar>
  <router-outlet></router-outlet>
</mat-drawer-container>