@import "../../utilities/variables";

.title-card {
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    margin-top: $card-distance;
    background-color: $card-gray;
    //padding: $margin;
}

.charts{
    margin-top: $card-distance;
    margin-bottom: $card-distance;
}

@media only screen and (min-width: $tablet) {
    .charts{
        width: 90%;
        margin: auto;
        margin-top: $card-distance;
        margin-bottom: $card-distance;

        min-height:80vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .single-chart{
        margin: 0;
        padding: 0;
        width: 50%;
    }
}
