<div class="charts">
    <div class="single-chart" *ngFor="let chart of observables | keyvalue; let i = index" >
        <app-chart [options]="chartsService.lineChartOptions" 
                   [updateObservable]="chart.value" 
                   [chartType]="lineChart" 
                   [chartValue]="chartValues[i]"
                   [data]="chartValuesMap.get(chart.key)"
                   [typeName]="'Line chart'" 
                   [machineName]="machineName"></app-chart>
    </div>
</div>