@import "../../utilities/variables";

$margin: 5%;

.card{
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    background-color: $card-gray;
    padding: $margin;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values{
    margin-top: $margin;
    width: 100%;
}


ul, li{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    line-height: 1%;
    font-size: medium;
}

@media only screen and (min-width: $tablet) {
    li{
        font-size:medium;
    }
    .card{
        width: 30%;
        padding: 2%;
    }
}

.colored, .not-colored{
    padding-left: 1%;
    display: flex;
    align-items: center;
}

.colored{
    background-color: $card-blue;
}

