@import "../../utilities/variables";

$margin: 5%;

.card{
    width: $card-width;
    margin: auto;
    margin-bottom: $card-distance;
    background-color: $card-gray;
    padding: $margin;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.values{
    width: 100%;
}

img{
    width: 50%;
    height: 50%;
}

ul, li{
    margin: 0;
    padding: 0;
    margin-top: $margin;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1%;
    font-size: large;
}

@media only screen and (min-width: $tablet) {
    li{
        font-size:small;
    }
    .card{
        width: 90%;
        margin: 0;
        padding: 2%;
    }
}

.value-key, .value-val{
    width: 50%;
}

.value-key{
    margin-left: 1%;
}

.data{
    margin-bottom: 2%;
    padding: 1%;
    background-color: $card-blue;
    display: flex;
    align-items: center;
}

