@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";

//colors
$toolbar-blue: #002044;
$on-off-blue: #004770;
$menu-blue: #0096D6;
$card-blue: #5FC6FF;
$background-gray: #E3E4E4;
$card-gray: #F3F3F3;
$correct-value: #AED681;
$wrong-value: #E57373;
$machine-on: #61DB3D;
$machine-allarm: #EB3324;

//distance
$card-distance: 3%;

//card width mobile
$card-width: 80%;

//mediquery
$tablet: 821px;
$mobile: 600px;