<svg class="svg-container" 
        viewBox="0 0 60 30"
        xmlns="http://www.w3.org/2000/svg">

        <!-- Machines -->    
        <g>          
          <rect *ngFor="let machine of machineData; let i = index"
            (click)="click(i)" class={{machine.class}} 
            [matMenuTriggerFor]="getMenu(i).menu"
            #clickHoverMenuTriggers="matMenuTrigger" 
            [ngClass]="{
              'machine-off' : machine.state == 'OFF',
              'machine-on' : machine.state == 'ON',
              'machine-allarm' : machine.state == 'ALLARM'
            }" 
            [attr.x] = "machine.coordinates.x"
            [attr.y] = "machine.coordinates.y" />
            
        </g>
       
       <!-- Walls --> 
        <rect class="wall" height="14" x="19.8" y="0"/>
        <rect class="wall" height="14" x="39.8" y="0"/>
       
        <rect class="wall" height="9.9" x="39.8" y="20"/>
        <rect class="wall" height="9.9" x="19.8" y="20"/>

        <rect class="wall" height="29.9" x="0" y="0"/>
        <rect class="wall" height="29.9" x="59.5" y="0"/>
        <rect class="wall-o" width="59.6" x="0" y="0"/>
        <rect class="wall-o" width="59.6" x="0" y="29.5"/>
</svg>

<app-machine-menu #clickMenu1="machineMenu" machineID='1'></app-machine-menu>
<app-machine-menu #clickMenu2="machineMenu" machineID='2'></app-machine-menu>
<app-machine-menu #clickMenu3="machineMenu" machineID='3'></app-machine-menu>
<app-machine-menu #clickMenu4="machineMenu" machineID='4'></app-machine-menu>
<app-machine-menu #clickMenu5="machineMenu" machineID='5'></app-machine-menu>
