<svg class="svg-container" 
        viewBox="0 0 60 30"
        xmlns="http://www.w3.org/2000/svg">
    
        <g class="svg-content-goup">
            <rect id="machine-1" class="machine-o" x="1" y="0.7" />
            <rect id="machine-2" class="machine-o" x="21" y="0.7"/>
            <rect id="machine-3" class="machine-o" x="41" y="0.7"/>
    
    
            <rect id="machine-4" class="machine-o" x="1" y="20.2" />
            <rect id="machine-5" class="machine-v" x="48" y="16.2" />
        </g>
       
        <rect class="wall" height="14" x="19.8" y="0"/>
        <rect class="wall" height="14" x="39.8" y="0"/>
       
        <rect class="wall" height="9.9" x="39.8" y="20"/>
        <rect class="wall" height="9.9" x="19.8" y="20"/>

        <rect class="wall" height="29.9" x="0" y="0"/>
        <rect class="wall" height="29.9" x="59.5" y="0"/>
        <rect class="wall-o" width="59.6" x="0" y="0"/>
        <rect class="wall-o" width="59.6" x="0" y="29.5"/>
</svg>
