@import "../../utilities/variables";

.svg-container {
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    background-color: $background-gray;
}

.machine-on {
    fill: $machine-on
}

.machine-off {
    fill: $on-off-blue;
}

.machine-allarm {
    fill: $machine-allarm
}

.machine-o,
.machine-v {
    opacity: 0.8;
    margin: 5%;
}

.machine-o {
    width: 18px;
    height: 9px;

}

.machine-v {
    width: 11px;
    height: 13px;
}

.machine-o:hover,
.machine-v:hover {
    opacity: 1;
}

.wall {
    width: 0.4px;
    fill: grey
}

.wall-o {
    height: 0.4px;
    fill: grey;
}

button {
    background-color: aquamarine;
}