<footer>
    <mat-toolbar class="footer">
        <div id="left">
                <p id="links-title">LINK</p>
                <ul id="links-list">
                    <li>Terms and conditions</li>
                    <li>Privacy policy</li>
                    <li>Cookie policy</li>
                </ul>
        </div>
        <div id="right">
            <p id="contacts-title">CONTACTS</p>
            <ul id="contacts-list">
                <li>elisa.albertini3@studio.unibo.it</li>
                <li>eleonora.bertoni3@studio.unibo.it</li>
                <li>denys.grushchak@studio.unibo.it</li>
            </ul>
        </div>
    </mat-toolbar>
</footer>