<mat-card class="card">
    <mat-card-header class="header">
      <mat-card-title class="title">Update period: {{value}}s</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-slider 
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [(ngModel)]="value"
        [vertical]="vertical"
        (change)="onChangePeriod()"
        class="slider"></mat-slider>
    </mat-card-content>   
</mat-card>
